@include hasBackground("primary", $primary);
@include hasBackground("secondary", $secondary);
@include hasBackground("accent", $accent);
@include hasBackground("error", $error);
@include hasBackground("info", $info);
@include hasBackground("success", $success);
@include hasBackground("warning", $warning);
@include hasBackground("white", $white);
@include hasBackground("black", $black);

@include hasText("primary", $primary);
@include hasText("secondary", $secondary);
@include hasText("accent", $accent);
@include hasText("error", $error);
@include hasText("info", $info);
@include hasText("success", $success);
@include hasText("warning", $warning);
@include hasText("white", $white);
@include hasText("black", $black);

.hidden {
  opacity: 0;
}

p.hint {
  text-align: center;
  font-size: 0.9em;
  margin-top: 10px;
  color: darken($color: $primary, $amount: 10);
}